$ukrainianBlue: #0041A3;
header{
    background-color: $ukrainianBlue;
    backdrop-filter: blur(2px);
    position: fixed;
    top:0;
    
    width: 100%;
    z-index: 1;  
    >nav{
        height: 100px;
    } 
}