
header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;  
    > nav {
        max-height: 100px;
        transition: 1s;
        img{
            max-height: 200px;
            margin-top: 100px;
            transition: 1s;
        }
    } 
    &+section{
        transition: 1s;
        margin-top: 200px;
    }

    &.pav-compact{
        >nav{
            max-height: 75px;
            img{
                max-height: 100px;
                margin-top: 25px;
            }
        }
        &+section{
            margin-top: 100px;
        }
    }
    
}