$ukrainianBlue: #0041A3;
$ukrainianYellow: #FDB800;
@mixin  parrallax-mixin($id, $url, $colour) {
    .parallax-#{$id} {
        background: url($url);
        background-attachment: fixed;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
      //  border-top: 2em solid $colour;
    }    
}

@include parrallax-mixin(one,'https://source.unsplash.com/featured/?future' ,$ukrainianBlue);
@include parrallax-mixin(two,'https://source.unsplash.com/featured/?happy' ,$ukrainianYellow);
@include parrallax-mixin(three,'https://source.unsplash.com/featured/?building' ,$ukrainianBlue);
